.mat-toolbar{
    background-color: rgb(1 137 159);
    color: white;
  }
  .mat-mdc-button .mdc-button__label{
    color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }
  .mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed{
    color: white;
  }